<!DOCTYPE html>

<html>
    <head>
        <title>Student Exams</title>
        <link href="../static/navigation_bar.css" rel="stylesheet">
        <noscript>Try another browser that supports Javascript.</noscript>
    </head>
    <body>
        <!--Navigation Bar-->
        <ul class="navbar-list">
            <li><a href="/studentInfo">Home</a></li>
            <li><a href="/studentCourseProgram">Course Program</a></li>
            <li><a href="/studentNote">Notes</a></li>
            <li><a href="/sCourseSelection">Course Selection</a></li>
            <li><a class="active" href="/studentExams">Exam Dates</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <!--Program-->
        <table>
            <thead>
                <tr>
                    <th>Exams</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                {% for exam, date in exams_and_dates %}
                <tr>
                    <td>{{ exam }}</td>
                    <td>{{ date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>
    </body>
</html>
