<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>General Information</title>
    <link href="../static/navigation_bar.css" rel="stylesheet">
  </head>

  <body>
    <ul>
      <li><a class="active" href="/studentInfo">Home</a></li>
      <li><a href="./studentCourseProgram">Course Program</a></li>
      <li><a href="/studentNote">Notes</a></li>
      <li><a href="#about">About</a></li>
    </ul>

    <div class="student-profile py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
                <h3>Yama</h3>
                <h3>NULL(Student name)</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Student ID</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                  <tr>
                    <th width="30%">E-mail</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                  <tr>
                    <th width="30%">Grade</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                  <tr>
                    <th width="30%">GNO</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                  <tr>
                    <th width="30%">Active Status</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                  <tr>
                    <th width="30%">Registeration Year</th>
                    <td width="2%">:</td>
                    <td>NULL</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> 